.bi-cart{
    margin:25px;
    color:#73B0FF;
    margin-right: 100px;
    
}

.bi-search{
    color: #73B0FF;
    margin-right:95px
}

.btn{
    background-color: #9c9c9c;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.h-custom{
    border:10px solid #9c9c9c
}